<%= button_to "atras", admin_course_matter_path(@course, @matter), method: :get, class: "btn btn-primary", id:"btn-back" %>
<%= simple_form_for [:admin, :course, :matter, @note] do |f| %>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col-8">N° de documento</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Accion</th>
      </tr>

  </thead>
    <tbody>
      <h5>Estudiantes</h5>
      <% @users.each do |user| %> 
        <% if user.has_role? :student %>
          <tr>
            <td><%= user.document %></td>
            <td><%= user.first_name %> <%= user.second_name %></td>
            <td><%= user.first_last_name %> <%= user.second_last_name %></td>
            <td><%= radio_button_tag "note[student_id]" , user.id%></td>
          </tr>
        <% end %> 
      <% end %>
    </tbody>
  </table>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col-8">N° de documento</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Accion</th>
      </tr>

  </thead>
    <tbody>
      <h5>Profesores</h5>
      <% @users.each do |user| %> 
        <% if user.has_role? :teacher %>
          <tr>
            <td><%= user.document %></td>
            <td><%= user.first_name %> <%= user.second_name %></td>
            <td><%= user.first_last_name %> <%= user.second_last_name %></td>
            <td><%= radio_button_tag "note[teacher_id]" ,  user.id%></td>
          </tr>
        <% end %> 
      <% end %>
    </tbody>
  </table>
  

    <%= f.association :task, label: 'Actividad', collection: @tasks %>
    <%= f.association :course, label: 'Curso', label_method: :name_course %>
  
    <%= f.input :qualification,label: 'Calificaion', autofocus: true, placeholder: 'calificacion', required: true %>
  <div id="centrar-boton-notas">
    <%= f.button :submit, 'Registrar Nota', class:"btn btn-primary", id:"boton-notas"%> 
    <% end %>
  </div>
<br />
