<%= simple_form_for [:admin, @observer] do |f| %>
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">N° de documento</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
     
         <% @students.each do |user| %>
            <% if user.has_role? :student %>
            <tr>
                  <% if Observer.where(student_id: user.id).exists? %>
                  <td><%= user.document %></td>
                  <td><%= user.first_name %> <%= user.second_name %></td>
                  <td><%= user.first_last_name %> <%= user.second_last_name %></td>
                  <td>
                   observador creado
                  </td>
                  <% else %>
                  <td><%= user.document %></td>
                  <td><%= user.first_name %> <%= user.second_name %></td>
                  <td><%= user.first_last_name %> <%= user.second_last_name %></td>
                  <td>
                    <%= check_box_tag "observer[student_id]", user.id %>
                  </td>
                <% end %> 
            </tr>
          <% end %> 
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="centrar_boton_form">
    <%= f.button :submit, "Crear Observacion", class:"btn btn-primary", id:"boton_Crear_Curso", onclick: "return confirmDestroy('¿Desea Guardar esto?')"%> 
  </div>
<% end %>


<script>
function confirmDestroy(message) {
  if (!confirm(message)) {
    return false;
  }
}
</script>