<div class="container-fluid" id="css-container">
  <div class="row" id = "div-row">
    <div class="col" id="columna-izquierda">
      <%= button_to "Cursos", botonCourse(), method: :get, class:"btn btn-light", id:"menuIzquierdo" %>
      <%= button_to "Materias", admin_matters_path(), method: :get, class:"btn btn-light", id:"menuIzquierdo" %>
      <%= button_to "Estudiantes", users_path(), method: :get, class:"btn btn-light", id:"menuIzquierdo" %>
      <%= button_to "Profesores", users_path(), method: :get, class:"btn btn-light", id:"menuIzquierdo" %>
      <%= button_to "Boletines", botonCourse(), method: :get, class:"btn btn-light", id:"menuIzquierdo" %>
      <%= button_to "Observador",  botonObservador(), method: :get, class:"btn btn-light", id:"menuIzquierdo" %>
      <%= button_to "Informacion", information_index_path(), method: :get, class:"btn btn-light", id:"menuIzquierdo" %>
    </div>

    <div class="col-4", id="columna-center" >
      <div id = "div-parrafo">
        <h2 id = "h1-parrafo">Misión</h1>
        <p id="parrafo">
       
        Misión Formar jóvenes competentes e integrales capaces de afrontar y resolver los retos del mundo actual, con habilidades y destrezas laborales, tecnológicas, afectivas y sociales que le permitan participar activamente en el mejoramiento y desarrollo socio- económico de su comunidad, región y país.
        </p>
      </div>
      <br>
      <div id = "div-parrafo" >
        <h2 id = "h1-parrafo">Visión</h1>
        <p id="parrafo">
        <br>
        
        Visión Aspiramos que en el 2018 El Colegio Distrital Isaac Newton esté tecnológicamente posicionado y se consolide en el Distrito de Barranquilla como una institución líder e inclusiva, que brinde una formación integral a jóvenes capaces de transformar su entorno social y económico al servicio oportuno y eficaz de la región Caribe y del país.
        </p>
      </div>
    </div>

    <div class="col-2" id="columna-derecha">
      <div id="scroll">
        <div class="col" id="columna-derecha">
          <div class="container">
            <div class="row">
              <div id="newfoto">
                <% if current_user.has_role? :admin %>
                  <%= button_to "Fotos", photos_path, method: :get, class:"btn btn-light", id:"botonFotos" %>
                <% end %>
              </div>
              <% @photos.each do |fotos| %>
                <div>
                  <%= image_tag fotos.avatar.url, id:"image"%>
                </div>
                <div id="h5-img">
                  <%= fotos.name_photo %>
                </div>
                <div id="description-photo">
                  <%= fotos.description %>
                </div>
                <hr>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>