<div class="container" id="form-information">
  <div class="row" id="row">
    <div class="col-12" id="attr-form">
      <%= simple_form_for @information do |f| %>

        <%= f.file_field :avatar, id:"file-input" %> 
        <br>
        <%= f.label :name, "Nombre de la Intitucion :" , id:"center-text" %> 
        <br>
        <%= f.text_field :name, id:"center-input" %>
        <br>
        <%= f.label :direction, "Direccion :", id:"center-text" %> 
        <br>
        <%= f.text_field :direction, id:"center-input" %>
        <br>
        <%= f.label :city, "Ciudad :", id:"center-text" %> 
        <br>
        <%= f.text_field :city, id:"center-input" %>
        <br>
        <%= f.label :email, "Correo Electronico :", id:"center-text" %> 
        <br>
        <%= f.text_field :email, id:"center-input" %>
        <br>
        <%= f.label :phone, "Celular :", id:"center-text" %> 
        <br>
        <%= f.text_field :phone, id:"center-input" %>
        <br><br>


        <%=f.submit "Guardar", disable_with: 'Espere...' , id:"btn-guardar", class:"btn btn-primary"%> 
      <% end %>
    </div>
  </div>
</div>
