
            <%= simple_form_for [:admin, :course, :matter, @task] do |f| %>
            <h5 id="h5Tareas">Crear nueva actividad</h5>
            <br>
                <%= f.label :name_activity, "Nombre de la actividad:" %>
                <%= f.text_field :name_activity %>
                <br>
                <br>
                <%= f.label :name_activity, "Descripcion de actividad:" %>
                <br>
                <br>
                <%= f.text_area(:description_activity, id:'text-area')%>
                <br>
                <div id="centrar-boton-form-tareas">
                    <%= f.submit 'Guardar', class:"btn btn-primary", id:"centrar-boton-guardar-tareas", onclick: "return confirmDestroy('¿Desea agregar una nueva actividad?')"%>
                    <%end%>
                   <%= button_to "volver", admin_course_matter_tasks_path, method: :get, class:"btn btn-primary", id:"centrar-boton-guardar-tareas"%> 
                </div>
       

<script>
function confirmDestroy(message) {
  if (!confirm(message)) {
    return false;
  }
}
</script>