<div class="container-fluid">
    <%= button_to "regresar" , admin_course_matter_path(@course,@matter), method: :get %>
    <%= button_to 'crear actividad',  new_admin_course_matter_task_url(@matter), method: :get, class:"btn btn-primary", id:"centrar-boton-tareas"%>
    <table class="table" >
        <thead>
            <tr>
                <th scope="col">Nombre actividad</th>
                <th scope="col">Descripción actividad</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each do |tarea| %> 
                <tr>
                    <td> <%= tarea.name_activity %> </td>
                    <td> <%= tarea.description_activity %> </td>
                    <td> <%= tarea.created_at %> </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>