<div class="container-fluid">
    <%= button_to "regresar" , admin_course_matter_path(@course,@matter), method: :get %>
    <%= button_to 'crear actividad',  new_admin_course_matter_task_url(@matter), method: :get, class:"btn btn-primary", id:"centrar-boton-tareas"%>
    <% @tasks.each do |tarea| %> 
        <%= tarea.name_activity %>
        <%= tarea.description_activity %>
        <%= tarea.created_at %>
    <%end%>

</div>
