<%= render 'layouts/navbar' %>
<div class = "user_div">
    <section class = "user_section">
        
    <div class = "user_img"><%= image_tag(@user.avatar.url, :size => "100x100", class: "rounded-circle") if @user.avatar? %></div>
    <div class ="user_datos">Tipo de documento: <%= @user.type_document %></div>
    <div class ="user_datos">Documento: <%= @user.document %></div>
    <div class ="user_datos">Nombres: <%= @user.first_name %> <%= @user.second_name %></div>
    <div class ="user_datos">Apellidos: <%= @user.first_last_name %> <%= @user.second_last_name %></div>
    <div class ="user_datos">Correo: <%= @user.email %></div>
    <div class ="user_datos">Numero de telefono: <%= @user.phone_number %></div>
    
    </section>

    <%= button_to "Editar", edit_user_registration_path, method: :get, class: "dropdown-item" %>
</div>




<%= render 'layouts/footer' %>
