<%= simple_form_for [:admin, @fault] do |f| %>
    <div class="col">
    <%= f.label "categoria:", id:"text-field" %>
    <%= f.text_field :category, placeholder: "L1"%>
    <%= f.label "Tipo de sanción:" %>
    <%= f.text_field :sanction, placeholder: "2 Horas"%>
    </div>
    <div class= "col">
    <%= f.label "Descripción de la falta:" %>
    <%= f.text_area(:description, id: 'text-area')%>
    </div>
    <div id="centrar_boton_form">
      <%= f.button :submit, class:"btn btn-primary", id:"boton_Crear_Curso"%> 
      <%= button_to 'Volver', root_path, method: :get, class:"btn btn-primary", id:"btn-back" %>
    </div>
<% end %>