<%= simple_form_for [:admin, @fault] do |f| %> 
  <%= f.text_field :category %>
  <%= f.text_area(:description, size: '71x10', id: 'text-area')%>
  <%= f.text_field :sanction %>
  <div id="centrar_boton_form">
    <%= f.button :submit, class:"btn btn-primary", id:"boton_Crear_Curso"%> 
  </div>
<% end %>