<div class="container-fluid">
  <div id= "center-form">
    <div class="col">
      <%= render "form" %> 
    </div>
  </div>
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Sancion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @faults.each do |falta| %> 
            <tr>
              <td> <%= falta.category %></td>
              <td><%= falta.description %></td>
              <td> <%= falta.sanction %></td> 
              <td> 
                <%= link_to "editar", edit_admin_fault_path(falta), method: :get, id:"quitarLinea"%>
                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>   
</div>


 