<div class="container-fluid">
  <div class="row">

    <div class="col">
      <%= simple_form_for [:admin, @course] do |f| %> <%= f.input :name_course%>
      <%= f.association :matters, as: :check_boxes, label_method: :name_matter,
      value_method: :id %>
    </div>

    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">N° de documento</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %> <% if user.has_role? :student %>
          <tr>
            <h5>Estudiantes</h5>
            <td><%= user.document %></td>
            <td><%= user.first_name %> <%= user.second_name %></td>
            <td><%= user.first_last_name %> <%= user.second_last_name %></td>
            <td>
              <%= check_box_tag "course[user_ids][]" , user.id,
              @course.users.include?(user)%>
            </td>
          </tr>
          <% end %> 
          <% end %>
        </tbody>
      </table>
      </div>

      <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">N° de documento</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %> <% if user.has_role? :teacher %>
          <tr>
            <h5>Profesores</h5>
            <td><%= user.document %></td>
            <td><%= user.first_name %> <%= user.second_name %></td>
            <td><%= user.first_last_name %> <%= user.second_last_name %></td>
            <td><%= check_box_tag "course[user_ids][]" , user.id, @course.users.include?(user)%></td>
          </tr>
          <% end %> 
        <% end %>
        </tbody>
      </table>
    </div>

    <div id="centrar_boton_form">
      <%= f.button :submit, class:"btn btn-primary", id:"boton_Crear_Curso"%> 
      <% end %>
    </div>

  </div>
</div>