<tbody>  
  <h5>Notas</h5>
    <% @users.each do |user| %>
      <% if user.has_role? :student %>
        <tr>
          <td><%= user.document %></td>
          <td><%= user.first_name %> <%= user.second_name %></td>
          <td><%= user.first_last_name %> <%= user.second_last_name %></td>
          <% @qualification.each do |calificacion| %> 
              <% if user.id == calificacion[2] &&  @course.id == calificacion[3]%>
                <td><%= link_to calificacion[0], admin_course_matter_note_path(@course, @matter, calificacion[1] ), method: :get %></td>
              <%end%>
          <% end%>
        </tr>
      <% end %> 
    <% end %>
    
</tbody>