<tbody>  
  <h5>Estudiantes</h5>
  <% @notes.each do |nota| %> 
    
      <tr>
        <td><%= nota.student.document %></td>
        <td><%= nota.student.first_name %> <%= nota.student.second_name %></td>
        <td><%= nota.student.first_last_name %> <%= nota.student.second_last_name %></td> 
        <% @qualification.each do |calificacion| %> 
          <td><%= calificacion %></td>
        <% end%>
      </tr>
  <% end%>
</tbody>
  
